@charset "UTF-8";
/* Drop Default Styles - here I`m dropping default styles */
/*==========START========== */
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  /* line-height: 1.5; */
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* ==================END================== */
.svg {
  display: none;
}

.svg__cart {
  width: 24px;
  height: 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  top: 0;
  width: 100%;
  z-index: 1000;
  position: absolute;
  padding: 20px 0;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  vertical-align: middle;
}

.header__link {
  display: inline-block;
}

.header__nav {
  padding-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__img {
  margin-right: 12px;
}

.header__cart {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #fff;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.header__cart:hover {
  cursor: pointer;
  border: 1px solid #000;
}

.header__circle {
  position: absolute;
  top: 4px;
  left: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #fe4c8d;
  text-align: center;
  vertical-align: middle;
  font-family: "Sintony", sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.header__book {
  position: relative;
  background-color: #fea100;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 4px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.header__book:hover {
  cursor: pointer;
  background-color: #be7903;
}

.header__table {
  background-color: #fea100;
  border: 1px solid #ffffff;
  padding: 9px 15px 9px 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.header__dish {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}

.header__text {
  font-family: "Sintony", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin: 0 15px;
  display: inline-block;
  font-family: "Sintony", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #2c465a;
  text-decoration: none;
}

.nav__item:hover {
  text-decoration: underline;
}

.nav__item:last-child {
  margin-right: 30px;
}

.about {
  margin-top: 86px;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e1e1e1 url(https://fakeimg.pl/1920x250/) center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.about__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about__img--reversed {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.about__text {
  margin: 0 7px;
  font-family: "Playfair Display", serif;
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
}

.section {
  position: relative;
  padding: 80px 0 90px;
}

.section--gray {
  background: #edf1f3 url(/src/img/gray.png) center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.section--time {
  padding-top: 0;
}

.section--footer {
  padding-bottom: 65px;
}

.section__header {
  text-align: center;
  padding: 20px 0;
}

.section__title {
  padding: 0 15px 15px;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 700;
  color: #14141d;
}

.section__text {
  padding: 15px;
  margin: 0 auto 20px;
  width: 100%;
  max-width: 700px;
  font-family: "Sintony", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: #5c6369;
}

.section__img {
  position: absolute;
  top: 0;
  right: 53%;
}

.section__hr {
  top: -3px;
  position: relative;
  height: 1px;
  background-color: #e4e4e4;
}

.history {
  max-width: 969px;
  width: 100%;
  margin: 0 auto;
}

.history__video {
  height: 446px;
}

.history__video iframe {
  height: 100%;
  width: 100%;
}

.history__text {
  padding: 18px 0;
  font-family: "Sintony", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #14141d;
  border-bottom: 1px solid #e3e3e3;
}

.cooks__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cooks__item {
  -webkit-box-shadow: 0px 24px 38px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 24px 38px 0px rgba(0, 0, 0, 0.1);
  width: 23.07692%;
}

.cooks__png {
  width: 100%;
}

.cooks__text {
  background-color: #fff;
  text-align: center;
  padding: 23px 10px;
  font-family: "Sintony", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #14141d;
}

.circle {
  margin: 30px auto 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 80px;
  width: 100%;
}

.circle__item {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #64615f;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.circle__item:hover {
  cursor: pointer;
  border-color: #fea100;
  background-color: #fea100;
}

.speciality {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.speciality__item {
  position: relative;
  width: 50%;
  padding-bottom: 30px;
}

.speciality__header {
  padding: 15px;
}

.speciality__header h2 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 700;
  color: #14141d;
}

.speciality__article {
  padding: 15px;
}

.speciality__title h3 {
  font-family: "Sintony", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #14141d;
}

.speciality__text {
  font-family: "Sintony", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: #5c6369;
  padding-bottom: 10px;
}

.hours {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hours__item {
  font-family: "Playfair Display", serif;
}

.hours__item h3 {
  font-size: 35px;
  font-weight: 700;
  color: #14141d;
}

.hours__item:last-child {
  position: relative;
  width: 17.94872%;
}

.hours__days {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #373844;
}

.hours__time {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: #fea100;
}

.hours__img {
  position: absolute;
  top: -140px;
  left: 0;
}

.footer {
  background-color: #373844;
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item--one {
  width: 10.68376%;
}

.footer__item--two {
  width: 41.02564%;
}

.footer__item--three {
  width: 19.65812%;
}

.footer__title {
  padding: 10px 0 15px;
}

.footer__title h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: .9;
  font-weight: 700;
  color: #ffffff;
}

.footer__body {
  padding: 15px 0;
}

.footer__list {
  margin-top: 0;
}

.footer__list li {
  padding: 5px 0;
}

.footer__link {
  text-decoration: none;
  font-family: "Sintony", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #adb2b7;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__text {
  padding: 5px 0;
  font-family: "Sintony", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #adb2b7;
}

.footer__subscribe {
  margin: 5px 0;
}

.footer__form {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__input {
  display: block;
  padding: 15px;
  width: 66.17021%;
  border: 2px solid #52535e;
  background-color: inherit;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: "Sintony", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #adb2b7;
}

.footer__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #adb2b7;
}

.footer__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #adb2b7;
}

.footer__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #adb2b7;
}

.footer__btn {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #fea100;
  width: 31.91489%;
  border: none;
  font-family: "Sintony", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer__copyrights {
  position: relative;
  width: 100%;
  max-width: 380px;
  text-align: center;
  margin: 45px auto 0;
  font-family: "Sintony", sans-serif;
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #adb2b7;
}

.footer__copyrights::before, .footer__copyrights::after {
  position: absolute;
  content: "";
  display: block;
  max-width: 370px;
  width: 100%;
  height: 1px;
  background-color: #52535e;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__copyrights::before {
  left: -394px;
}

.footer__copyrights::after {
  right: -394px;
}

.footer__name {
  color: #ffffff;
}

.social {
  margin: 45px 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 53px;
  height: 53px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20.2px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.social__item--one {
  background-color: #3b5998;
}

.social__item--two {
  background-color: #55acee;
}

.social__item--three {
  margin-right: 0;
  background-color: #dd4b39;
}

.get__item {
  position: relative;
  padding: 11px 50px 11px 67px;
  background-color: #52535e;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 12px;
}

.get__item:last-child {
  margin-bottom: 0;
}

.get__img {
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.get__suptitle {
  font-family: "Sintony", sans-serif;
  color: #edf1f3;
  line-height: 20px;
  font-weight: 400;
  font-size: 11px;
}

.get__title {
  font-family: "Sintony", sans-serif;
  color: #edf1f3;
  line-height: 20px;
  font-weight: 400;
  font-size: 18px;
}
